body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f8ff;
            height: 100vh;
            overflow: hidden;
        }
        .main {
            flex: 1;
            padding: 0 20px 20px;
            transition: transform 0.3s ease;
            overflow-y: auto;
        }
        .logo {
            position: absolute;
            top: -75px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            z-index: 20;
        }
        .logo img {
            margin-top: 40px;
            height: 275px;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            padding: 20px;
            margin-top: 150px;
            align-items: start;
         }
         .card {
            background: #DCE2FF;
            border-radius: 10px;
            padding: 15px;
            text-align: center;
            opacity: 0;
            transform: translateY(20px);
            animation: fadeInUp 0.4s forwards;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            height: 33vh;
            overflow: hidden;
            cursor: pointer;
        }
        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        }
        .card:nth-child(1)  { animation-delay: 0.1s; }
        .card:nth-child(2)  { animation-delay: 0.2s; }
        .card:nth-child(3)  { animation-delay: 0.3s; }
        .card:nth-child(4)  { animation-delay: 0.4s; }
        .card:nth-child(5)  { animation-delay: 0.5s; }
        .card:nth-child(6)  { animation-delay: 0.6s; }

        @keyframes fadeInUp {
            to {
             opacity: 1;
             transform: translateY(0);
            }
        }
        .card img {
            width: 100%;
            height: 250px;
            object-fit: contain;
            margin-top: -20px;
        }
        .card h2 {
            margin-top: -60px;
            font-size: 20px;
            color: #2c257e;
        }
        .card p {
            margin-top: -5px;
            font-size: 16px;
            color: #2c257e;
            font-weight: bold;
        }
        .modal {
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      background: rgba(0,0,0,0.5);
      backdrop-filter: blur(5px);
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 20;
    }
    .modal.show { display: flex; }
    .modal-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      background: transparent;
    }
    .modal-content .card {
      background: transparent;
      border: none;
      box-shadow: none;
      padding: 0;
      height: auto;
    }
    .modal-content h2 {
      margin-top: -10px;
      font-size: 22px;
      color: white;
    }

.beige-content {
  position: relative;
  text-align: center;
  background: transparent;
}
.beige-content img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}
#beigeModal .modal-content {
      display: block;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeInUp 0.4s forwards;
      animation-delay: 0s;
    }
.beige-content .beige-option {
  position: absolute;
  font-size: 22px;
  color: #fff;
  background: transparent;
  cursor: pointer;
  opacity: 0;
  padding: 5px;
  font-weight: bold;
  transform: translateY(20px);
  animation: fadeInUp 0.4s forwards;
}
.beige-content .beige-option.top {
  top: 80px;
  right: 200px;
  animation-delay: 0.1s;
}
.beige-content .beige-option.bottom {
  bottom: 60px;
  right: 120px;
  animation-delay: 0.2s;
}
#beigeModal .beige-option:hover {
      text-decoration: underline;
    }
    .go-back {
      grid-column: span 2;
      text-align: center;
      margin-top: 20px;
      text-decoration: underline;
      color: white;
      cursor: pointer;
    }
        .container {
            display: flex;
            top: 200px;
            transition: transform 0.3s ease;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100;
            position: absolute;
        }
        .sidebar {
            width: 180px;
            background-color: #DCE2FF;
            padding: 20px;
            flex-shrink: 0;
            height: calc(100vh - 160px);
            position: absolute;
            top: 237px;
            bottom: 0;
            left: 0;
            z-index: 10;
            overflow-y: auto;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
        }
        .sidebar.show {
            transform: translateX(0);
        }
        .sidebar img.profile {
            position: relative;
            width: 100px;
            border-radius: 50%;
            display: block;
            margin-top: 20px;
            margin-left: 50px;
            margin-bottom: -15px;
        }
        .sidebar h3 {
            text-align: center;
            margin-top: 10px;
            color: #2c257e;
            font-size: 16px;
            font-weight: bold;
        }
        .sidebar .info {
            margin: 10px 0;
            font-weight: bold;
            color: #2c257e;
        }
        .info-block {
            margin: 10px 0; 
        }
        .info-label {
            font-weight: normal;
            font-size: 14px;
            margin-left: 5px;
            color: #2c257e;
        }
        .info-detail {
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            margin-top: 4px;
            color: #2c257e;
            margin-bottom: -8px;
        }
        .info-detail img.jeep {
            position: relative;
            margin-top: -20px;
            margin-left: 25px;
            margin-bottom: -30px;
            display: block;
            width: 75%;
        }
        .info-divider {
            border: none;
            border-top: 1px solid #bbb;
            margin: 10px 0;
        }
         .nav-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            top: 20px;
            right: 25px;
            background: transparent;
            z-index: 1000;
            gap: 20px;
        }
        .nav-buttons .home-icon {
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .nav-buttons div {
            cursor: pointer;
            font-weight: bold;
            color: #2c257e;
            padding: 4px 0;
            transition: color 0.3s;
            text-decoration: none;
        }
        .nav-buttons div:hover {
            text-decoration: underline;
        }
        .nav-buttons .active {
            color: #2c257e;
            text-decoration: underline;
        }
        .logo {
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            z-index: 20;
        }
        .logo img {
            margin-top: 0;
            height: 280px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        thead th {
            position: sticky;
            top: 0;
            background-color: #f8f8ff;
            z-index: 1000;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        th, td {
            padding: 9px;
            text-align: center;
            border-bottom: 1px solid #ddd;
            color: #2c257e;
        }
        tbody tr:hover {
            background-color: #DCE2FF;
            cursor: pointer;
        }
        .table-icon {
            width: 50px;
            height: 30px;
            object-fit: contain;
        }
        .active-row {
            background-color: #DCE2FF;
        }
        .dots {
            cursor: pointer;
            transition: font-weight 0.3s ease-in-out;
        }
        .dots:hover {
            font-weight: bold;
        }
        .back-button {
            position: absolute;
            top: 12px;
            left: 12px;
            background-color: #bbb;
            color: white;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            height: 20px;
            width: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }
    .route-controls {
      position: absolute;
      bottom: 20px;
      height: 25px;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(255,255,255,0.9);
      border-radius: 30px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      z-index: 1000;
    }
    .route-controls button {
      background: none;
      border: none;
      font-size: 16px;
      margin: 0 15px;
      cursor: pointer;
      color: #2c257e;
      transition: color 0.2s;
    }
    .route-controls button:disabled {
      opacity: 0.3;
      cursor: default;
    }
    .route-controls button:hover:not(:disabled) {
      color: #1a174b;
      font-weight: bolder;
    }
    .route-controls span {
      font-weight: bold;
      color: #2c257e;
    }
        #map {
            position: absolute;
            top: 200px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100; 
        }
        .leaflet-marker-icon {
            cursor: pointer;
        }
        #overlay {
            position: absolute;
            top: 250px;
            left: 20px;
            width: 260px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.3);
            z-index: 1000;
            padding: 15px;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.1s ease;
        }
        #overlay.show {
            opacity: 1;
            pointer-events: auto;
        }
        #overlay-close {
            background-color: #bbb;
            border: none;
            cursor: pointer;
            color: white;
            border-radius: 50%;
            display: flex;
            height: 20px;
            width: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }
        #overlay-body {
            margin: 5px 0;
            color: black;
            font-size: 24px;
            text-align: center;
            font-weight: bold;
        }
        #overlay-plate {
            margin: 5px 0;
            color: #000;
            font-size: 18px;
            text-align: center;
            font-weight: bold;
        }
        #overlay-divider {
            border: none;
            border-top: 1px solid #ddd;
            margin: 10px 0;
        }
        .overlay-info {
            font-size: 15px;
            margin: 10px 10px;
        }
        #overlay-img {
            width: 75%;
            margin-bottom: -30px;
            margin-top: -30px;
            margin-left: 35px;
        }
        .leaflet-routing-container {
            display: none;
        }

